<li>
	{{burger_name}}
	{{#if devoured}}

	<button class="burger_eat" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Eat Da Burger!{{/if}}
	</button>
		{{!-- <button class="delete-cat" data-id="{{id}}" >Do to the kitty what Scar did to Mufasa!
	</button> --}}
	{{/if}}
</li>
